[submodule "studentcodeseparator"]
	path = studentcodeseparator
	url = https://github.com/Haspamelodica/net.haspamelodica.studentcodeseparator
[submodule "streammultiplexer"]
	path = streammultiplexer
	url = https://github.com/Haspamelodica/net.haspamelodica.streammultiplexer
