[submodule "Charon"]
	path = Charon
	url = https://github.com/Haspamelodica/Charon
[submodule "streammultiplexer"]
	path = streammultiplexer
	url = https://github.com/Haspamelodica/net.haspamelodica.streammultiplexer
